h1 {
  font-weight: bold;
  color: white;
}

.calender {
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 20px 20px;
  font-size: 18px;
  width: 30%;
  cursor: pointer;
}

form {
  margin-top: 50px;
}

input[type="date"] {
  background-color: #0080ff;
  padding: 15px;
  font-family: "Roboto Mono", monospace;
  color: #ffffff;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 5px;
}
::-webkit-calendar-picker-indicator {
  background-color: #ffffff;
  padding: 5px;
  cursor: pointer;
  border-radius: 3px;
}

button {
  background-color: #0080ff;
  padding: 15px;
  font-family: "Roboto Mono", monospace;
  color: #ffffff;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 5px;
}
.calender h3{
  color: white;
}