.cat-container {
  width: 90%;

  margin: 40px auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

h1 {
  color: white;
  font-weight: bold;
}
.cat {
  width: 25%;
  height: 100px;
  margin: 10px;
  display: flex;
  font-size: 24px;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  color: blue;
}

.cat:hover {
  background-color: rgb(255, 246, 246);
}
