.single-task {
  width: 700px;
  height: fit-content;
  background-color: white;
  margin: 20px auto;
  border-radius: 5px;
  padding: 20px 30px;
  position: relative;
}

.panel {
  display: flex;
}

.panel p {
  padding: 0px 10px;
  margin: 0px 10px;
  border: 1px solid grey;
  border-radius: 4px;
  font-size: 13px;
}

.description {
  margin-top: 30px;
}

.cat-change {
  position: absolute;
  right: 5px;
  top: 10px;
}

form {
  display: flex;
  justify-content: center;
}

#div_id_completionstatus .form-label {
  display: none;
}

.btn-primary {
  padding: 5px;
  height: 38px;
  margin-left: 10px;
}
