.single-task {
  width: 700px;
  height: fit-content;
  background-color: white;
  margin: 20px auto;
  border-radius: 5px;
  padding: 20px 30px;
}

.panel {
  display: flex;
}

.panel p {
  padding: 0px 10px;
  margin: 0px 10px;
  border: 1px solid grey;
  border-radius: 4px;
  font-size: 13px;
}

.description {
  margin-top: 30px;
}
