.navbar-brand {
  font-size: 40px;
  margin-top: -16px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 900;
  /* background-color: darkgreen; */
}

body {
  font-family: "Mukta", sans-serif;
  box-sizing: border-box;
}

h6 {
  color: red;
  /* margin-top:10px; */
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

h3 {
  color: black;
}

.navbar-cls {
  position: fixed;
  top: 0;
  display: flex;
  height: 55px;
  width: 100%;
  z-index: 10;
  justify-content: space-between;
  background-color: #fba62f;
  align-items: center;
}

.navbar-cls a {
  color: white;
  margin: 10px;
}

.navbar-brand {
  padding-left: 12px;
  padding-top: 15px;
}

.navbar-cls ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  height: 60px;
}

.navbar-cls li {
  margin: 20px;
}

.navbar-color {
  background: #c9e1c1 !important;
}
.img-todo {
  background-color: #ffd970;
  background-size: cover;
  width: 100%;
}

.border-nav {
  background-color: orange;
  height: 900px;
  width: 230px;
  margin-left: -20px;
}

.my-nav {
  margin-top: 60px;
  margin-left: 5px;
}

.my-nav li {
  height: 50px;
}

.nav-item a {
  color: white;
  line-height: 25px;
  font-size: 22px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-left: 10px;
  margin-top: 20px;
}

.today {
  margin-left: 5px;
  margin-top: 30px;
}

.nav-item a svg {
  margin-top: -50px;
  margin-right: 30px;
  margin-left: 38px;
}
.sidebar {
  position: relative;
  top: 0;
  left: 10px;
}

.nav-link:hover {
  background-color: rgb(255, 181, 44);
  color: white;
}

.login-btn {
  text-decoration: none;
  border: 1px solid white;
  padding: 5px 10px;
  border-radius: 5px;
}
