.nav-link:hover{
    color: blue !important;

}

body{
    font-family: 'Mukta', sans-serif;
}
 
h6{
 color: red;
 /* margin-top:10px; */
 font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h3{
    color: black;
   }
   
.navbar-color{
    background:  #c9e1c1 !important;
    
}
.img-todo {
    background-image: url('/static/img/walll.jpg');
    background-size: cover;
    width: 100%;
    overflow: hidden;
    margin-top: -60px;
  }

