{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@300;500&family=Teko:wght@300&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    
{% block style %} {% endblock style %}
<title>{% block title %} {% endblock title %}</title>
</head>
<body>
    {% comment %} <nav class="navbar navbar-expand-lg bg-body-tertiary navbar-color">
      <img src="{% static 'img/todo.png' %}"  style="width:0px; height:30px;" alt=""/>
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'home' %}">TO-D0</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active " aria-current="page" href="{% url 'home' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active " aria-current="page" href="{% url 'task' %}">Task</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active " aria-current="page" href="{% url 'calender' %}">Calender</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'category' %}">Category</a>
              </li>
              
            </ul>
          </div>
          
        </div>
      </nav> {% endcomment %}








      <!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-danger navbar-dark">
  <!-- Container wrapper -->
  <div class="container-fluid">
      <!-- Toggle button -->
      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" aria-label="Toggle navigation"
      aria-controls="navbarSupportedContent" aria-expanded="false" data-mdb-target="#navbarSupportedContent" >
          <i class="fas fa-bars"></i>
      </button>

      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>

          <!-- Icons -->
          <ul class="navbar-nav d-flex flex-row me-1">
              <li class="nav-item me-3 me-lg-0">
                  <a class="nav-link mx-1 text-white" href="{% url 'home' %}"><i class="fas fa-print"></i></a>
              </li>
              <li class="nav-item me-3 me-lg-0">
                  <a class="nav-link mx-1 text-white" href="{% url 'task' %}"><i class="far fa-clock"></i></a>
              </li>
              <li class="nav-item me-3 me-lg-0">
                  <a class="nav-link mx-1 text-white" href="#"><i class="fas fa-image"></i></a>
              </li>
              <li class="nav-item me-3 me-lg-0">
                  <a class="nav-link mx-1 text-white" href="#"><i class="fab fa-google-plus-g"></i></a>
              </li>
              <li class="nav-item me-3 me-lg-0">
                  <a class="nav-link mx-1 text-white" href="#"><i class="far fa-calendar-alt"></i></a>
              </li>
              <li class="nav-item me-3 me-lg-0">
                  <a class="nav-link mx-1 text-white" href="#"><i class="fas fa-align-justify"></i></a>
              </li>
              <li class="nav-item me-3 me-lg-0">
                  <a class="nav-link mx-1 text-white" href="#"><i class="fas fa-download"></i></a>
              </li>
              <li class="nav-item me-3 me-lg-0">
                  <a class="nav-link mx-1 text-white" href="#"><i class="fas fa-edit"></i></a>
              </li>
          </ul>
      </div>
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->

      
{% block content %} 

{% endblock content %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>  
</body>
</html> 