{% extends 'base.html' %}
{% load static %}


{% block title %}
home
{% endblock title %} 

{% block style %}
<link rel="stylesheet" href="{% static 'css/home.css' %}"/>
{% endblock style %}
{% block content %}
{% for quote in quotes %}
<p>{{quote.description}}</p>
<p>aswathi</p>
{% endfor %}
<div class="container-fluid">
    <div class="row">
        <div class="col-8">
            <div class="hometag">
                <h3 class="h3tag">Hello ,welcome Aswathi!</h3>
                <h4 class="h2tag" id="current-time">0:00 am</h4>
                <p class="p-tag">"Each day I will accomplish one thing on my to do list.” <br>
                -paul j meyer </p>
                </div>  
        </div>
    </div> 
</div>
<script>

  var clockElement = document.getElementById('current-time');


    function clock() {
      var dt = new Date();
      var hours = dt.getHours() ; // gives the value in 24 hours format
      var AmOrPm = hours >= 12 ? 'pm' : 'am';
      hours = (hours % 12) || 12;
      var minutes = dt.getMinutes() ;
      minutes = minutes < 10? `0${minutes}` : minutes;
      var finalTime = hours + ":" + minutes + " " + AmOrPm;
      clockElement.textContent = finalTime
    }

    setInterval(clock, 1000);
  </script>

{% endblock content %}