{% extends 'base.html' %}
{% load static %}


{% block title %}
theme
{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/theme.css' %}"/>
{% endblock style %}



{% block content %}
<h1>Themes</h1>
<div class='theme-container'>
<div class='theme-container-inside'>
   <a href="/theme?theme=black"> <div class="box-1"></div></a>
   <a href="/theme?theme=grey"><div class="box-2"></div></a>
   <a href="/theme?theme=green"> <div class="box-3"></div></a>
   <a href="/theme?theme=pink"> <div class="box-4"></div></a>
   <a href="/theme?theme=black"> <div class="box-5"></div></a>




</div>
</div>
{% endblock content %}