{% extends 'base.html' %}
{% load static %}


{% block title %}
theme
{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/theme.css' %}"/>
{% endblock style %}



{% block content %}
<h1>Themes</h1>
<div class='theme-container'>
<div class='theme-container-inside'>
   <a href="/theme?theme=FBA830"> <div class="box-5"></div></a>
   <a href="/theme?theme=424D54"> <div class="box-1"></div></a>
   <a href="/theme?theme=7F949F"><div class="box-2"></div></a>
   <a href="/theme?theme=3CC3DE"> <div class="box-3"></div></a>
   <a href="/theme?theme=E94859"> <div class="box-4"></div></a>




</div>
</div>
{% endblock content %}